@font-face{
    font-family: Artland;
    src: url("./../fonts/Artland Vintage  (ใส่ตรงคำว่า welcome to อันเดียว).ttf")
}
@font-face{
    font-family: Bangna;
    src: url("./../fonts/bangna-new  (ภาษาไทย).ttf")
}
@font-face{
    font-family: UmpquaBold;
    src: url("./../fonts/UmpquaBold  (คำภาษาอังกฤษทั่วไป).otf")
}




/* earth */
.textwel{
    font-family: Artland;
    color:rgba(172, 172, 172, 0.4);
    font-size: 60px;
    padding-top: 100px;
}
.textcook{
    font-family: UmpquaBold;
    color: white;
    font-size: 60px;
}
.textlet{
    color: white;
    font-size: 18px;
}
.btn-custom2{
    color: white;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(172, 172, 172, 0.4);
    border-radius: 30px;
    width: 180px;
}
.bghome{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('./../img/home.jpg')   
}
.bgyouridea{
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('./../img/let share.jpg')  
}
.bgsharidea { 
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('./../img/share idea.jpg')  
}
.bgshareidea{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('./../img/share idea.jpg')   
}
.bgrewards{
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('./../img/photo-1498092590708-048e0e2f46d7.jpg')  
    
}
.paddingbot{
    padding-bottom: 20px;
}
.bgstartidea { 
    background-image: url("./../img/let share.jpg");
    height: 97.5vh; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* earth */


/* Tan */
.colortextmakeit{
    font-family: UmpquaBold;
    color:white;
    font-size: 60px;
}
.buttonlearnandcook{
    color: white;
    font-size: 11px;
    background-color: rgba(172, 172, 172, 0.4);
    border-radius: 30px;
    width: 120px;
    height: 26px;
}
.bgmakeit{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('./../img/photo-1428515613728-6b4607e44363.jpg')   
}
.bglearnandcook{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100vw;
    min-height: 40vh;
    background-color: rgb(0, 0, 43);
}
.logo{
    width: 150px;
    margin-bottom: 20px;
}
.textlearn{
    margin-top: 120px;
    font-family: UmpquaBold;
    color: white;
}

.imglearn{
    border-radius: 70%;
    width: 340px;
    height: 340px;
}
.bggoodtest{
    background-repeat: no-repeat;
    background-position: left;
    min-height: 100vh;
    background-image: url('./../img/photo-1507048331197-7d4ac70811cf.jpg')
}
.img1{
    width: 500px;
    background-color: rgb(0, 0, 0);
    padding: 20px;
}
.img2{
    width: 300px;
}
.textgoodtest{
    color: white;
    margin-top: 120px;
}
.textgoodtest2{
    font-family: Bangna;
    color: black;
    margin-top: 200px;
}
/* Tan */

/* Bosz */
.bglogin{
    min-width: 100vw;
    min-height: 100vh;
    background-image: url('./../img/photo-1489806149968-aee262986b40.jpg') 
}
.btn-login{
    color: #000000;
    font-size: 18px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 30px;
    margin-top: 40px;
    width: 150px;
}

.login-bg-navbar{
    background-color: #000000
}

.boxcenter {
    padding: 40% 0;
    border: 3px solid green;
    position: center center;
    margin: auto;
    width: 50%;
    padding: 10px;
}
/* Bosz */



/* Arm */
.bginspiration{
    background-image: url("./../img/aaaa.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
}
.insfont{
    font-size: 30px;
}
.box{
    margin-top: 150px;
    background-color: rgb(0, 0, 43);
    border-radius: 100%;
    width: 250px;
    height: 250px;
    color: white;
}
.ff{
    color: #fff;
}
.bgcontactus{
    background-image: url("./../img/bbb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
    min-width: 100vw;
}
.inshead{
    color: #fff;
    margin-top: 150px;
    margin-left: 40px;
    font-size: 30px;
}
.test{
    color: white;
    font-family: Bangna;
    margin-left: 40px;
}
.logoconmem{
    width: 150px;
    height: 150px;
}
/* Arm */
.btn-custom{
    color: white;
    font-size: 18px;
    background-color: rgba(172, 172, 172, 0.4);
    border-radius: 30px;
    margin-top: 40px;
    width: 90px;
    height: 26px;
    width: 140px;
}
.navv{
    position: absolute;
    width: 100vw;
    z-index: 1;
}












